.login .form_container {
    width: 40%;
    background-color: var(--clr-neutral-900) !important;
}

@media screen and (max-width: 1000px) {
    .login .form_container {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .login .form_container {
        width: 65%;
    }
}

.login .form-control {
    border: none;
    border-bottom: 1px solid var(--clr-primary-400);
}
.login div label {
    color: var(--clr-neutral-900) !important;
}
.login .form-control:focus {
    box-shadow: none;
    border-bottom-color: var(--clr-primary-400);
}
.login .form-control:focus + label {
    color: var(--clr-neutral-900);
}
.login .form {
    padding: 1em;
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
@media only screen and (min-width: 768px) {
    .login .form {
        width: 50%;
    }
}

.signup-btn:link,
.signup-btn:visited {
    color: var(--clr-neutral-900);
    text-decoration: none;
}

.login .in-btn {
    background-color: var(--clr-primary-400) !important;
}
.login .custom-input-label {
    color: var(--clr-neutral-100) !important;
}
