.details-card {
    background-color: var(--clr-neutral-600);
    box-shadow: var(--clr-primary-400) 0px 10px 10px -10px, var(--clr-primary-400) 0px 3px 6px -3px;
    padding: var(--size-400);
    border-radius: var(--size-400);
}

.magnifier {
    padding: var(--size-200);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.details-btn {
    background-color: var(--clr-primary-400) !important;
    color: black !important;
    transition: 0.3s all !important;
    display: flex;
    align-items: center;
    gap: var(--size-200);
    &:hover {
        background-color: var(--clr-secondary-400) !important;
    }
}

.details-conrols {
    display: flex;
    gap: 1rem;
    margin-top: var(--size-600);
    margin-bottom: var(--size-400);
}
