.card {
  box-shadow: 5px 5px 5px var(--clr-primary-400);
  border: none !important;
}
.card-body {
  background-color: var(--clr-neutral-700) !important;
  color: var(--clr-primary-400) !important;
}
.wishlist-card-button {
  background: none;
  border: 0;
}
.wishlist-card-image {
  background-color: var(--clr-neutral-700);
}
