footer {
  background-color: var(--clr-neutral-700);
  margin: 0 !important;
  color: var(--clr-neutral-100) !important;
}
footer .nav-link {
  color: var(--clr-neutral-100) !important;
}
footer .text-body-secondary {
  color: var(--clr-neutral-100) !important;
}
footer .brandIcon {
  display: inline-block;
}
footer .brand-icon {
  border-radius: 50%;
  transition: 0.5s;
}

footer .brand-icon:hover {
  box-shadow: 0 0 20px var(--clr-primary-400);
  text-shadow: 0 0 20px var(--clr-primary-400);
}
